
version: '2.2'

services:

  zipper_client:
    build:
      context: client
    user: nobody
    image: cyberdojo/zipper-client
    init: true
    container_name: test-zipper-client
    read_only: true
    tmpfs: /tmp
    restart: 'no'
    depends_on:
      - zipper
      - storer

  # - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

  zipper:
    build:
      context: .
      args:
        - SHA
    user: nobody
    image: cyberdojo/zipper
    init: true
    container_name: test-zipper-server
    read_only: true
    tmpfs: /tmp
    restart: 'no'
    depends_on:
      - storer

  # - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

  storer:
    user: storer
    image: cyberdojo/storer
    init: true
    container_name: test-zipper-storer-server
    read_only: true
    tmpfs: /tmp
    volumes:
      - ./test/katas:/usr/src/cyber-dojo/katas:ro
